.formControl {
    display: flex;
    align-items: center;
}

.formControl.error input,
.formControl.error textarea
{
    outline: solid red 3px;
    margin-right: 15px;
}
.formControl input,
.formControl textarea
{
    border: solid #ccc 2px;
    margin-right: 15px;
    flex-shrink: 0;
}

.formControl.error span
{
    color: red;
}
.formControl span
{
    flex-shrink: 0;
}