/* .selectedPage {
    background-color: skyblue;
} */



.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 0 5px;
    border: 1px solid grey;
    margin: 0 2px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    background-color: skyblue;
}